body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.header {
  background-color: #14cedf;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}

.item {
  background-color: #f1f1f1;
  padding: 20px;
  margin: 5px;
  text-align: center;
  color: #666;
  font-size: 18px;
}

/* Give the orders to items */
.flex-container > div:nth-of-type(1) {
  order: 2;
}
.flex-container > div:nth-of-type(2) {
  order: 3;
}
.flex-container > div:nth-of-type(3) {
  order: 4;
}
.flex-container > div:nth-of-type(4) {
  order: 1;
}

#mypic {
  width: 300px;
  height: 300px;
}
.flex-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-top: 8px;
}

.repocontainer {
  text-align: center;
  margin: 8px 0;
}
